body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
}

.main {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

/************************* 
    NAVIGATION STARTS HERE 
**************************/
#sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 800px;
  margin: 0 auto;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.901);
}

.nav-parent {
  display: flex;
  justify-content: space-between;
}

.nav-child h1 a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  margin-top: -10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list li {
  margin-left: 40px;
  margin-top: 8px;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

/************************* 
    NAVIGATION ENDS HERE 
**************************/

/************************* 
    HERO STARTS HERE 
**************************/

.hero {
  margin-top: 120px;
}

.project-hero {
  height: 400px;
  margin-top: 20px;
}

.hero p {
  margin-top: -10px;
  line-height: 24px;
  letter-spacing: 1px;
}
.hero h4 {
  color: #9b9b9b;
}

/************************* 
    HERO ENDS HERE 
**************************/

/************************* 
    PROJECT LIST STARTS HERE 
**************************/

#projects {
  margin-top: 80px;
}

#first-project {
  background-image: url('images/med.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

#second-project {
  background-color: #30446b;
  background-image: url('images/lookie.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#third-project {
  background-image: url('images/drops.jpg');
  background-size: cover;
  background-position: 70% 70%;
}

#fourth-project {
  background: #535353;
}

.project {
  position: relative;
}

.overlay {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  color: wheat;
  letter-spacing: 3px;
}

/************************* 
                        OVERLAY for PROJECT
                    **************************/

.project-hero {
  position: relative;
}

.project-hero:hover .overlay {
  opacity: 1;
  background: rgba(129, 129, 129, 0.89);
}

/************************* 
    PROJECT LIST ENDS HERE 
**************************/

/************************* 
    FOOTER STARTS HERE
**************************/

.footer-wrapper {
  min-height: 100%;
  margin-top: 100px;
  background: #f4f4f4;
  padding-bottom: 20px;
}

.footer-child ul li {
  list-style: none;
}

/************************* 
    FOOTER HEADERS
**************************/

.footer-child h4 {
  font-size: 14px;
  color: #9b9b9b;
}

/************************* 
    FOOTER ABOUT ME
**************************/

.about {
  width: 80%;
}

.email-text {
  margin-top: 50px;
  margin-bottom: -10px;
  font-size: 12px;
  color: #9b9b9b;
}

.email {
  font-size: 14px;
}

/************************* 
    FOOTER DESIGN TOOLS
**************************/

.tool-list {
  display: flex;
  justify-content: flex-start;
}

.tool-list li {
  margin-right: 20px;
}

.principle {
  font-size: 12px;
  margin-top: 2px;
}

.fab {
  color: #9b9b9b;
}
/************************* 
    FOOTER EDUCATION STARTS HERE
**************************/

#school {
  margin-top: 30px;
  letter-spacing: 1.2px;
  font-size: 0.7em;
}

#subject {
  margin-top: -20px;
  letter-spacing: 1px;
  font-size: 14px;
}

/************************* 
    FOOTER EDUCATION ENDS HERE
**************************/

@media (min-width: 1024px) {
  .wrapper {
    width: 800px;
    margin: 0 auto;
  }

  p.tag-line {
    width: 40%;
  }

  .footer-parent {
    display: flex;
    justify-content: space-between;
  }

  .footer-parent {
    width: 60%;
    margin: 0 auto;
  }

  .footer-child {
    width: 30%;
  }

  #footer-about {
    max-width: 80%;
  }
}

@media (min-width: 836px) and (max-width: 1024px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  /* hero - introduction line in headers */
  p.tag-line {
    width: 60%;
  }

  .footer-parent {
    display: flex;
    justify-content: space-between;
  }

  #footer-about {
    max-width: 80%;
  }
}

/* mobile */

@media (min-width: 320px) and (max-width: 836px) {
  #sticky-nav {
    width: 100%;
  }

  .nav-list li:last-child {
    margin-right: 20px;
  }

  .nav-child h1 {
    margin-left: 20px;
  }

  .hero {
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
  }

  .project-hero {
    height: 300px;
  }

  #first-project {
    background-position: 85% 100%;
  }

  .footer-child {
    padding-left: 15px;
  }

  #footer-about,
  #design-footer {
    margin-bottom: 50px;
    position: relative;
    box-sizing: border-box;
  }

  #footer-about:after,
  #design-footer:after {
    content: ' ';
    display: block;
    position: absolute;
    height: 1px;
    background: rgb(206, 206, 206);
    width: 100%;
    left: 0;
    margin-top: 10px;
  }

  .footer-parent {
    padding-top: 20px;
  }

  .overlay {
    display: none;
  }
}
